@model ProyectoFinalResidencia.Models.Adolecentes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adolecentes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LugarNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LugarNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jusgado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jusgado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escuela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escuela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TratamientoMedico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TratamientoMedico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TratamientoPsicologico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TratamientoPsicologico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReevinculacionesFamiliares)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReevinculacionesFamiliares)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.familiaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.familiaId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-secondary" asp-action="Index">Volver</a>
</div>
