@model IEnumerable<ProyectoFinalResidencia.Models.Familias>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</div>

<div class="row">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreFamilia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreFamilia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domicilio)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-list"></i></a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


